astroid==2.5.7
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
idna==2.10
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
pycg==0.0.5
pycg-stitch==0.0.1
pylint==2.8.2
requests==2.25.1
toml==0.10.2
urllib3==1.26.5
wrapt==1.12.1
