flask
geoip2
geopy
requests
gevent
dnspython
pylint
cyrtranslit
astral
timezonefinder==2.1.2
pytz
pyte
python-dateutil
diagram
pyjq
scipy
numpy
pillow
babel
pylru
pysocks
supervisor
numba
emoji
grapheme
pycountry
isort==5.2.1
aws-cdk.aws-applicationautoscaling==0.35.0
apache-airflow-backport-providers-salesforce==2020.6.24rc1